.alert
  {
    position: fixed;
    right: 10px;
    top: 20px;
    float: right;
    z-index: 10000;
    width: 250px;
  }
html.noscroll 
{
    overflow-y: hidden;
    width: 100%;
}
.scroll {
    overflow-y: scroll;
    width: 100%;
}
.loader
{
	display: none;
	z-index: 10003;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100vh;
	position:fixed;
}
.cssload-container
{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 10004;
	width: 100%;
	height: 56px;
}
.cssload-speeding-wheel {
	width: 56px;
	height: 56px;
	margin: 0 auto;
	border: 3px solid rgb(0,0,0);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 575ms infinite linear;
	-o-animation: cssload-spin 575ms infinite linear;
	-ms-animation: cssload-spin 575ms infinite linear;
	-webkit-animation: cssload-spin 575ms infinite linear;
	-moz-animation: cssload-spin 575ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}